<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.m.yifeng"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.m.yifeng.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.m.yifeng.HomeActivity"></activity>
        <activity android:name="com.m.yifeng.LoginActivity"></activity>
        <activity android:name="com.m.yifeng.CartActivity"></activity>
        <activity android:name="com.m.yifeng.PersonActivity"></activity>
        <activity android:name="com.m.yifeng.SettingActivity"></activity>
        <activity android:name="com.m.yifeng.OrderActivity"></activity>
        <activity android:name="com.m.yifeng.MyLocationActivity"></activity>
        <activity android:name="com.m.yifeng.MyPositionActivity"></activity>
        <activity android:name="com.m.yifeng.PositionHomeActivity"></activity>
        <activity android:name="com.m.yifeng.MyDefaultAreaActivity"></activity>
        <activity android:name="com.m.yifeng.AddAeraAddressActivity"></activity>
        <activity android:name="com.m.yifeng.ViewByClassActivity"></activity>
        <activity android:name="com.m.yifeng.ViewByStoreActivity"></activity>
        <activity android:name="com.m.yifeng.OrderDetailActivity"></activity>
    </application>

</manifest>